        
 .querybox_card{
    @include grid (grid, null, null, 1fr 1fr, null, 30px);
    &_text{
        cursor: pointer;
        border: 1px solid $border-blue;
        border-radius: 10px;
        padding: 20px;
        background-color: $white-base;
        min-height: 105px;
    }
}