
$white-base:#FFFFFF;
$black-dark:#3A3A3A;
$black-regular:#565656;
$black-medium:#3C3C3C;
$black-light:#808080;
$grey-base:#B3B3B3;
$grey-light:#CECECE;
$blue-base:#003CE5;
$blue-light:rgb(123, 182, 252);
$border-blue:#BADAFF;
$background-bg:#EDF3FA;
$grey-verylight:rgb(58, 58, 58, .08);